<div class="col-md-8 col-md-offset-2">
	<div class="col-xs-12">
		<div class="command" id="command">
				<%= react_component('Command', id: 'commandBox') %>
		</div>
  </div>
	<div class="room">
			<%= react_component('Room', 
				name: @room.name,
				description: @room.description,
				exits: @room.exits) %>
	</div>
	<div style="padding-top: 10px"></div>
	<div class="newsfeed">
		<div class="misc"><a href="#" class="players">[CRIMS0N]</a> picked up a torch.</div>
		<div class="damage"><a href="#" class="mobs">The Dragon</a> attacked you for 1150 damage!</div>
	</div>
</div>
