
<div class="col-md-8 col-md-offset-2">
	<div class="col-xs-12">
		<div class="command" id="command">
				<%= react_component('Command',
					exits: @room.exits
				) %>
		</div>
  </div>
	<div class="room">
			<%= react_component('Room', 
				exits: @room.exits,
				initial_room_path: room_path(id: 1, format: :json)) %>
	</div>
	<div style="padding-top: 10px"></div>
	<div class="newsfeed">
		<%= react_component('Newsfeed') %>
	</div>
</div>
